snippet struct "struct definition block"
type $1 struct {
	$0
}
endsnippet

snippet iface "interface definition block"
type $1 interface {
	$0
}
endsnippet

snippet forr "for loop with range"
for $1 := range $2 {
	$0
}
endsnippet

snippet fori "for loop with counter"
for i := $1; i < $2; i++ {
	$0
}
endsnippet

snippet switch "normal switch"
switch $1 {
case $2:
	$3
default:$0
}
endsnippet
