snippet imd "import default"
import $2 from '$1';$0
endsnippet

snippet imns "import namespace"
import * as $2 from '$1';$0
endsnippet

snippet imp "import specific properties"
import {$2} from '$1';$0
endsnippet
